:root{
    --border-img: 0.25rem solid #c59d5f;
    --primary-color: rgb(0, 9, 39);
    --primary-bg: rgb(236, 249, 252);
    --color-gold: #c59d5f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    background-color: var(--primary-bg);
}

.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    letter-spacing: 0.25rem;
}

/*------------------------TITLE-------------------------*/

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.title-underline{
    margin-top: 1rem;
    border: none;
    background-color: var(--color-gold);
    height: 4px;
    width: 5rem;
}

/*------------------------FILTERS-------------------------*/

.filters{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.filter-btn{
    display: block;
    margin: 0 0.5rem;
    border-color: var(--color-gold);
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    color: var(--color-gold);
    background-color: var(--primary-bg);
    cursor: pointer;
    font-size: 1.25rem;
    text-transform: capitalize;
    outline: none;
    transition: 0.5s ease;
    letter-spacing: 1px;
}

.filter-btn:hover{
    background-color: var(--color-gold);
    color: white;
}

/*----------------------MENU-----------------------*/

img{
    object-fit: cover;
    width: 100%;
    border: var(--border-img);
    height: 175px;
    border-radius: 5px;
}

.menu{
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2rem;
    justify-content: center;
    max-width: 1170px;
}

.menu-item{
    max-width: 40rem;
    display: grid;
    grid-template-columns: 225px 1fr;
    gap: 1.25rem;
}

.menu header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    border-bottom: 1px dotted var(--primary-color);
    margin-bottom: 1rem;
}

.item-price{
    color: var(--color-gold);
}

.item-text{
    color: rgb(121, 130, 141);
}

@media screen and (max-width: 1230px){
    .menu{
        grid-template-columns: 1fr;
        gap: 3rem 0;
        justify-items: center;
        width: 90vw;
    }
}

@media screen and (max-width: 768px){
    .menu-item{
        max-width: 25rem;
        grid-template-columns: 1fr;
    }

    img{
        height: 225px;
    }
}